{% extends "src/njk/templates/layout.njk" %}

{% block header %}
    {% include "src/njk/templates/header.njk" %}
{% endblock %}

{% block herovideo %}
    {% include "src/njk/templates/herovideo.njk" %}
{% endblock %} 

{% block homeproduct %}
    {% include "src/njk/templates/home-product.njk" %}
{% endblock %} 

{% block powerplay %}
    {% include "src/njk/templates/powerplay.njk" %}
{% endblock %} 