<div class="next-block">
    <div class="container py-5">
        <div class="next-block_body">
            <div class="next-block-col col-12 col-sm-4">
                <div class="image">
                    <img src="../images/d9ee7fb.icon-piece-replacement-2-x@2x.png">
                </div>
                <div class="title py-3">Piece Replacement</div>
                <div class="des">If you lose or break a game piece, we’ll replace it for free. <a href="#">See details.</a></div>
            </div>
            <div class="next-block-col col-12 col-sm-4">
                <div class="image">
                    <img src="../images/c3ab6ee.icon-parent-app-2-x@2x.png">
                </div>
                <div class="title py-3">Osmo Parent App</div>
                <div class="des">Free Osmo Parent companion app, which lets you know what your child is learning and doing in Osmo.</a></div>
            </div>
        </div>
    </div>
</div>