<div class="available-block">
    <div class="container py-5">
        <div class="available-block_body">
            <div class="text">Also available at:</div>
            <div class="space"></div>
            <div class="image"><img src="../images/228974f.Apple.png"</div>
        </div>
    </div>
</div>