<div class="fan-block">
    <div class="container py-5">
        <div class="fan-block_title">
            <h2>Fan Favorites</h2>
            <div class="block-des py-2">See where others begin their Osmonaut journey.</div>
        </div>
        <div class="fan-block_body py-2">
            <div class="product-grid">
                <div class="product">
                    <div class="image"><img src="../images/tangram.jpg"></div>
                    <div class="info">
                        <div class="name">Genius Kit</div>
                        <div class="review py-2">
                            <div class="rating">
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star1"></div>
                            </div>
                            <div class="text">356 reviews us on  <img src="../images/a007ffc.logo-homepage-amazon.png"></div>
                        </div>
                        <div class="des">Develop math, spelling, and problem solving skills with this starter kit.</div>
                        <div class="price py-3">$69</div>
                        <a href="#" class="learnmore">Learn more</a>
                    </div>
                </div>
                <div class="product">
                    <div class="image"><img src="../images/tangram.jpg"></div>
                    <div class="info">
                        <div class="name">Genius Kit</div>
                        <div class="review py-2">
                            <div class="rating">
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star1"></div>
                            </div>
                            <div class="text">356 reviews us on  <img src="../images/a007ffc.logo-homepage-amazon.png"></div>
                        </div>
                        <div class="des">Develop math, spelling, and problem solving skills with this starter kit.</div>
                        <div class="price py-3">$69</div>
                        <a href="#" class="learnmore">Learn more</a>
                    </div>
                </div>
                <div class="product">
                    <div class="image"><img src="../images/tangram.jpg"></div>
                    <div class="info">
                        <div class="name">Genius Kit</div>
                        <div class="review py-2">
                            <div class="rating">
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star1"></div>
                            </div>
                            <div class="text">356 reviews us on  <img src="../images/a007ffc.logo-homepage-amazon.png"></div>
                        </div>
                        <div class="des">Develop math, spelling, and problem solving skills with this starter kit.</div>
                        <div class="price py-3">$69</div>
                        <a href="#" class="learnmore">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>