<div class="footer-block">
    <div class="footer-up">
        <div class="container">
            <div class="footer-menu">
                <div class="menu pt-3">
                    <div class="menu-item">
                        <a href="#">Find in Store</a>
                    </div>
                    <div class="menu-item">
                        <a href="#">Osmo Social Club</a>
                    </div>
                    <div class="menu-item">
                        <a href="#">About Us</a>
                    </div>
                    <div class="menu-item">
                        <a href="#">Blog</a>
                    </div>
                    <div class="menu-item">
                        <a href="#">Jobs</a>
                    </div>
                    <div class="menu-item">
                        <a href="#">Support</a>
                    </div>
                </div>
                <div class="lang">
                    <div class="image"><img src"../image/Japan-Flag-Weightlifting-Belt.jpg"></div>
                    <div class="text"><a>Japan</a></div>
                </div>
            </div>
            <div class="footer-contact"></div>
        </div>
    </div>
    <div class="footer-bot"></div>
</div>