<div class="footer-block">
    <div class="container">
        <div class="footer-up">
            <div class="footer-menu"></div>
            <div class="footer-contact"></div>
        </div>
        <div class="footer-bot"></div>
    </div>
</div>