<div class="footer-block">
    <div class="footer-up py-3">
        <div class="container">
            <div class="container-footer">
                <div class="footer-menu py-3">
                    <div class="menu">
                        <div class="menu-item">
                            <a href="#">Find in Store</a>
                        </div>
                        <div class="menu-item">
                            <a href="#">Osmo Social Club</a>
                        </div>
                        <div class="menu-item">
                            <a href="#">About Us</a>
                        </div>
                        <div class="menu-item">
                            <a href="#">Blog</a>
                        </div>
                        <div class="menu-item">
                            <a href="#">Jobs</a>
                        </div>
                        <div class="menu-item">
                            <a href="#">Support</a>
                        </div>
                    </div>
                    <div class="lang">
                        <div class="image"><img src="../images/Japan-Flag-Weightlifting-Belt.jpg"></div>
                        <div class="text"><a>Japan</a></div>
                    </div>
                </div>
                <div class="footer-contact pb-3">
                    <div class="mail">
                        <div class="des">Sign up for our newsletter to hear about our new games and promotions!</div>
                        <div class="signup ">
                          <input type="email" class="input-osmo" name="email" placeholder="Your email address">
                          <button type="button" class="button-signup">Sign up</button>
                        </div>
                    </div>
                    <div class="social">
                        <a href="#" class="pos1"></a>
                        <a href="#" class="pos2"></a>
                        <a href="#" class="pos3"></a>
                        <a href="#" class="pos4"></a>
                        <a href="#" class="pos5"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bot">
        <div class="container py-5">
            <div class="footer-link text-center pb-3">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Use</a>
            </div>
            <div class="trademark text-center">
                <p class="mb-1">Osmo™, Awbie™, and Tangible Play™ are trademarks of Tangible Play, Inc..</p>
                <p class="mb-1">Mickey Mouse and Friends and Disney Princess ©Disney. The Incredibles 2 ©Disney/Pixar.</p>
            </div>
        </div>
    </div>
</div>