<div class="hero-video">
    <div class="inner-video">
        <video loop autoplay mute playinline poster>
            <source src="../videos/home-2018-hero-loop-desktop.mp4" type="video/mp4">
        </video>
    </div>
    <div class="text-on">
        <div class="container">
            <a class="big-text">Real Play <br> Real Learning</a>
            <div class="button-on">
                <div class="shop-now"><a href="#">Shop Now</a></div>
                <div class="watch-video">
                    <a href="">Watch the video<i class="far fa-play-circle pl-1"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>