<div class="age">
    <div class="container">
        <div class="circle">
            <div class="circle-position">
                <div class="circle-inner">
                    <div class="text">For children</div>
                    <div class="number">5 - 12</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-product">
    <div class="container">
        <div class="product-block py-5">
            <div class="home-product_title">
                <div class="text">
                    <div class="text-upper">Welcome to Osmo</div>
                    <div class="text-lower pt-1">Welcome to a place where kids explore, learn, create and interact with digital games in a whole new way.</div>
                </div>
            </div>
            <div class="home-product_body pt-3">
                <table class="table-product">
                    <tbody>
                        <tr>
                            <td class="product-small">
                                <div class="product">
                                    <div class="cover-image">
                                        <img src="../images/Detective Agency_big.jpg" alt="big image" class="image-show">    
                                        <div class="blue-bg">
                                            <div class="product-name">Detective Agency</div>
                                            <div class="product-des">Solve mysteries around the world!</div>
                                            <div class="product-price">US$39</div>
                                            <div class="button-s leanmore py-4"><a href="#">Learn more</a></div>
                                        </div>                            
                                    </div>
                                </div>
                            </td>
                            <td rowspan="2" class="product-big">
                                <div class="product">
                                    <div class="cover-image">
                                        <img src="../images/Detective Agency_big.jpg" alt="big image" class="image-show">    
                                        <div class="blue-bg">
                                            <div class="product-name">Detective Agency</div>
                                            <div class="product-des">Solve mysteries around the world!</div>
                                            <div class="product-image">
                                                <img src="../images/Detective Agency_small.png" class="img-fluid" alt="product image">
                                            </div>
                                            <div class="product-price">US$39</div>
                                            <div class="button-s leanmore py-4"><a href="#">Learn more</a></div>
                                        </div>                            
                                    </div>
                                </div>
                            </td>
                            <td class="product-small">
                                <div class="product">
                                    <div class="cover-image">
                                        <img src="../images/Detective Agency_big.jpg" alt="big image" class="image-show">    
                                        <div class="blue-bg">
                                            <div class="product-name">Detective Agency</div>
                                            <div class="product-des">Solve mysteries around the world!</div>
                                            <div class="product-price">US$39</div>
                                            <div class="button-s leanmore py-4"><a href="#">Learn more</a></div>
                                        </div>                            
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="product-small">
                                <div class="product">
                                    <div class="cover-image">
                                        <img src="../images/Detective Agency_big.jpg" alt="big image" class="image-show">    
                                        <div class="blue-bg">
                                            <div class="product-name">Detective Agency</div>
                                            <div class="product-des">Solve mysteries around the world!</div>
                                            <div class="product-price">US$39</div>
                                            <div class="button-s leanmore py-4"><a href="#">Learn more</a></div>
                                        </div>                            
                                    </div>
                                </div>
                            </td>
                            <td class="product-small">
                                <div class="product">
                                    <div class="cover-image">
                                        <img src="../images/Detective Agency_big.jpg" alt="big image" class="image-show">    
                                        <div class="blue-bg">
                                            <div class="product-name">Detective Agency</div>
                                            <div class="product-des">Solve mysteries around the world!</div>
                                            <div class="product-price">US$39</div>
                                            <div class="button-s leanmore py-4"><a href="#">Learn more</a></div>
                                        </div>                            
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="work-flatform py-5">
    <div class="work-with-text"> Works with : </div>
    <div class="ipad-image"></div>
    <div class="see-how"><a href="#">See how Osmo works</a></div>
</div>