<div class="homebestseller-block">
    <div class="container py-5">
        <div class="bestseller row">
            <div class="combo col-12 col-sm-6 py-3">
                <a href="" class="">
                    <div class="combo-inner">
                        <div class="title"><h2>New to Osmo ?</h2></div>
                        <div class="des py-3">Get an Osmo kit!</div>
                        <div class="image"><img src="../images/49117ff.shopping-option-kits.jpg" alt="image here"></div>
                        <div class="price py-3">Starting from <span class="font-weight-bold">$99</span></div>
                        <div class="button-shop">Shop for Kits</div>
                    </div>
                </a>
            </div>
            <div class="combo col-12 col-sm-6 py-3">
                <a href="" class="">
                    <div class="combo-inner">
                        <div class="title"><h2>Already an Osmonaut ?</h2></div>
                        <div class="des py-3">Expand your collection!</div>
                        <div class="image"><img src="../images/038ae75.shopping-option-games.jpg" alt="image here"></div>
                        <div class="price py-3">Starting from <span class="font-weight-bold">$19</span></div>
                        <div class="button-shop">Shop for Games</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>