<div class="peoplelove-block">
    <div class="container py-5">
        <div class="peoplelove-block_body">
            <div class="title pb-3"><h2>People Love Us</h2></div>
            <div class="images-block pb-4">
                <div class="image-s">
                    <img src="../images/2216286.seal-toty-2018@2x.png">
                </div>
                <div class="image-s">
                    <img src="../images/b0597ca.award-ppenheim-platinum@2x.png">
                </div>
                <div class="image-s">
                    <img src="../images/3bb3e7b.award-parent-choice-gold@2x.png">
                </div>
                <div class="image-s">
                    <img src="../images/16ffff3.award-fc-most-innovative-2017@2x.png">
                </div>
            </div>
            <div class="des">
                <div class="des-inner">
                    Over <a href="#">1,000 reviews</a> and 4.7/5 stars on <img src="../images/a007ffc.logo-homepage-amazon.png">
                </div>
            </div>
        </div>
    </div>
</div>