<div class="powerplay">
    <div class="container">
        <div class="powerplay-block py-5 row">
            <div class="left-col col-12 col-md-6">
                <div class="left-col-title">The Power of Play</div>
                <div class="left-col-des">
                    <p>Whether your child is a music lover, budding coder, or aspiring mathematician, Osmo has the right games to inspire your child.</p>
                </div>
                <div class="group-image">
                    <div class="image1">
                        <div class="image-color"><img src="../images/3154390.icon-maths-active@2x.png" class="image-s" alt="math"></div>
                        <div class="image-gray"><img src="../images/ce9cc76.icon-maths-inactive@2x.png" class="image-s" alt="math"></div>
                        <div class="image-title">Math</div>
                    </div>
                    <div class="image2">
                        <div class="image-color"><img src="../images/d954acc.icon-puzzles-active@2x.png" class="image-s" alt="math"></div>
                        <div class="image-gray"><img src="../images/49b918e.icon-puzzles-inactive@2x.png" class="image-s" alt="math"></div>
                        <div class="image-title">Puzzles</div>
                    </div>
                    <div class="image3">
                        <div class="image-color"><img src="../images/d2c9cc6.icon-coding-active@2x.png" class="image-s" alt="math"></div>
                        <div class="image-gray"><img src="../images/ca11075.icon-coding-inactive@2x.png" class="image-s" alt="math"></div>
                        <div class="image-title">Coding</div>
                    </div>
                    <div class="image4">
                        <div class="image-color"><img src="../images/c2d3f9c.icon-business-active@2x.png" class="image-s" alt="math"></div>
                        <div class="image-gray"><img src="../images/836400c.icon-business-inactive@2x.png" class="image-s" alt="math"></div>
                        <div class="image-title">Business</div>
                    </div>
                    <div class="image5">
                        <div class="image-color"><img src="../images/abe9f35.icon-spelling-active@2x.png" class="image-s" alt="math"></div>
                        <div class="image-gray"><img src="../images/b267c4e.icon-spelling-inactive@2x.png" class="image-s" alt="math"></div>
                        <div class="image-title">Spelling</div>
                    </div>
                    <div class="image6">
                        <div class="image-color"><img src="../images/468568a.icon-drawing-active@2x.png" class="image-s" alt="math"></div>
                        <div class="image-gray"><img src="../images/86fca9c.icon-drawing-inactive@2x.png" class="image-s" alt="math"></div>
                        <div class="image-title">Drawing</div>
                    </div>
                </div>
            </div>
            <div class="right-col col-12 col-md-6">
                <div class="right-col-video mx-auto">
                    <div class="right-col-video_body">
                        <video loop mute repeat class="video">
                            <source src="../videos/numbers-demo-loop.mp4" type="video/webm">
                        </video>
                    </div>
                    <div class="right-col-link"><a href="#">Tangram</a></div>
                </div>
            </div>
        </div>
    </div>
</div>