<div class="schoolosmo-block">
    <div class="container">
        <div class="powerplay-block py-5 row">
            <div class="left-col col-12 col-md-6">
                <div class="left-col-title">Schools <i class="fas fa-heart"></i> Osmo</div>
                <div class="left-col-des">
                    Osmo has been adopted in over 30,000 schools in 42 countries around the world. Teachers are raving about how their students love experimenting, exploring, creating and collaborating with Osmo.
                </div>
                <div class="osmo-school"><a href="#">Osmo for schools</a></div>
            </div>
            <div class="right-col col-12 col-md-6">
                <a href="#" class="popup">
                    <div class="image-bg">
                        <div class="vh-center">
                            <div class="play-button"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>