$orange:#d93d20;
$blue : #0eaae3;
$gray :#505050;
$grayless:#828282;
$graybg:#f5f5f5;
$grayfooterupbg:#333;
$grayfooterbotbg:#373737;
$grayfooter:#929292;
$grayfooterlight:#bdbdbd;
$math:#d93968;
$puzzles:#ffc600;
$coding:#9bc23d;
$business:#22b072;
$spelling:#00adee;
$drawing:#4d5fad;
$font-title:2rem;