.hero-video{
    position: relative;
    .inner-video{
        width: 100%;
        height: 56vw;
        position: relative;
        overflow: hidden;
        video{
            @include positionCenter;
            width: 100vw;
        }
    }
    .text-on{
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        .big-text{        
            font-size: 3rem;
            color: white!important;
            font-weight: 700;
            line-height: 3rem;
        }
        .button-on{
            justify-content: flex-start;
            flex-wrap: nowrap;
            margin-top: 10px;
            >div{
                padding: 1rem 0;
            }
            .shop-now{
                @include osmo-transition-scale;
                a{
                    @include button-orange(8px 20px,1.5rem);
                    @include hoverNone;
                }
            }
            .watch-video{
                padding:1rem;
                a{
                    color: white;
                    font-size: 1.5rem;
                }
                .play-button{
                    position: relative;
                    :before{
                        content: "";
                    }
                }
            }
        }
    }
}
@media screen and (min-width:481px){
    .hero-video{
        .text-on{
            .big-text{
                font-size: 5rem;
                line-height: 5rem;
            }
            .button-on{
                margin-top: 30px;
                .shop-now{
                    a{
                        padding: 20px 35px;
                    }
                }
                .watch-video{
                    
                }
            }
        }
    }
}