html{
    font-size: 8px;
}
@media screen and (min-width:481px){
    html{
        font-size: 12px;
    }
}
@media screen and (min-width:769px){
    html{
        font-size: 16px;
    }
}
@import './var';
@import './_mixin';
@import './_header';
@import './_video';
@import './_home-product';
@import './powerplay';